html{
  font-size: 100%;
}
/*setting font size to be 100% as standard*/
body{
  font-family: sans-serif,serif;
  background-image: url("background.png");
}
/*Put font family to sans-serif as first choice and if the computer does not have that style then font family will be serif
Also changing the background colour to a tile png*/
.topnav {
  background-color: #333;
  overflow: hidden;
}
/*class to style the top nov bar on the page here we set the background colour and also set overflow to hidden, this is to make sure
the content on the navbar does not go off the screen when overflow so the overflow is clipped, and the rest of the content will be invisible*/
img{
  height: 200pt;
  width: auto;
  float: right;
  margin-right: 100pt;
}
/*Sets the size of the image on the webpage to make sure it aligns perfectly on the webpage where i want it to.*/
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*class for each link <a> on the top nav bar. float value is set to left so the navbar starts from the left side of the screen.Text is aligned to
centre and some padding is added to give it some button like feeling also text decoration is set to none to remove underlining*/
.mainh1{
  font-size: 200%;
  font-weight: bold;
}
/*class to style the <h1> tags and make them stand out more from rest of the text*/
.topnav h1 {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
/*Sets the styles of the <h1> tag in the class topnav, giving it some padding,text align and colour to make it stand out as this will be where my name is*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/*Sets the syle of the top navbar class when being hovered over by a mouse.This creates a more responsive top navbar*/
article{
  margin-left: 15%;
  padding: 10px 16px;
}
/*This style sets where the article will be by using the margin-left and i have given it some padding to seperate it from the two nav bars*/
.sidebar {
  text-align: center;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 84.7%;
}
/*class to style the side nov bar on the page here we set the background colour and also set position to fixed, this is to make sure
the navbar does not go off the screen. Also set a specific height and gave it a width*/
ul{
  padding-left: 25pt;
  list-style-type: circle;
}
/*Sets some padding on the unordered list to seperate out each item on the list and then changing style type to circle to change the bullet point.*/
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
/*class for each link <a> on the side nav bar. display is set to block so content starts on a new line and takes up the whole width.
text decoration is set to none to remove underlinging in <a> tags*/
footer{
  text-decoration: none;
  padding-top: 92pt;
}
/*Sets the styles of the footer tag.Removing underlining from <a> tags in the footer. Also adding some padding to display the footer correctly on the page.*/
.sidebar a:hover {
  background-color: #555;
  color: white;
}
/*Sets the syle of the side navbar class when being hovered over by a mouse.This creates a more responsive side navbar*/
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  article {margin-left: 0;}
}
/*This bit of code does a media query and runs if the following results are true: if the size of the screen is less then 700px.
If this is true the styles of the sidebar nav class and article tag will change to acomodate that screen size*/
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/*This bit of code does a media query and runs if the following results are true: if the size of the screen is less then 400px.
If this is true the styles of the sidebar nav class will change to acomodate that screen size*/
